<h1>RECOVERY PASSWORD</h1>
<h3>Please, enter the email with which you are registered</h3>
<form action="/api/users/forgotPassword" method="post">
    email: <input type="email" name="email" id="email">
    <button type="submit">send</button>
</form>
