<h1>HOME</h1>
<h3>Welcome ADMIN {{full_name}}, your email is: {{email}}</h3>

<button onclick="location.href='/products'">View Products</button>
<button id="logout" onclick="handleLogout()">Logout</button>

<script src="/js/logout.js"></script>