<h1>RESET PASSWORD</h1>
<h3>Please, enter your new PASSWORD</h3>
<form action="/api/users/resetPassword/{{token}}" method="post">
    password: <input type="password" name="password" id="password">
    <button type="submit">send</button>
</form>
